/* unvisited link */
a:link {
  color: #0099ff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #ff471a;
  text-decoration: none;
}




.content {

  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  margin-right: 200px;
  margin-left: 25%;
  margin-bottom: 600px;
  position: absolute;
  width: 50%;

}

.name {

margin-right: 600px;
margin-left: 600px;
margin-top: 0px;
font-size: 60px;
font-family: serif;
font-style: italic;
color: white;
position: fixed;
top: 0px;

}




.sidebar {

font-size: 30px;
text-align: left;
font-family: sans-serif;
/* margin-right: 5.5px;
margin-left: 5.5px;
margin-bottom: 5.5px;
margin-top: 150px; */
position: fixed;
left: 10px;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
top:0;
/* top: 50%;
transform: translateY(-50%); */


}


.linkscontent {

  text-align: left;
  font-family: serif;
  font-size: 20px;
  margin-left: 25%;
  margin-bottom: 100px;
  margin-top: 400px;



}

.gallerycontent {

margin-left: 21%;
padding: 5px;


}

.next {


font-family: sans-serif;
font-size: 40px;
color: blue;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3px;


}


.pgallery {

  margin-left: 190px;
  margin-top: 100px;


}
